body {
	background-image: url("high_resol_earth.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

h3 {
	color: white;
	text-align: center;
}

p {
	color: skyblue;
	text-align: center;
	display: inline;
	padding-right: 150px;
}
div {
	display: inline;
}

#about {
	float: right;
}

#blog {
	float: right;
}

#resume {
	float: right;
}

#contact {
	float: right;
}
